/* Font */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
}

/* header css here */
nav {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 180px;
}

nav h1 {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

nav button {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    padding: 17px 24px 17px 24px;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    cursor: pointer;

}

/* End header */

/* banner css here */
.banner {
    height: 652px;
    background: url('../assets/Hero-bg.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner-container {
    width: 998px;
    height: 582px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .banner-container img {} */

.banner-container h1 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    margin: 24px 0px;
    text-align: center;
}

.banner-container p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-bottom: 24px;
}

.banner-container a {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
}

/* End banner css */

/* Start Main  part css*/
main {
    width: 1140px;
    margin: 0 auto;
    margin-top: 74px;
    padding: 80px 97px 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

/* development css here */
.development {
    width: 946px;
    padding: 0px 48px;
    text-align: center;
    background-color: #fdfdfd;
}

.dev-heading {
    width: 850px;
}

.dev-heading h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}


.dev-heading p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
    margin-top: 24px;
    text-align: center;

}

.dev-content-cointainer {
    display: flex;
    width: 850px;
    justify-content: space-around;
    align-items: center;
    margin-top: 96px;
    gap: 38px;
    background-color: #fdfdfe;
}

.dev-content {
    text-align: left;
}

.dev-content h2 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
}

.dev-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin: 16px 0px;
}

.dev-content button {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 12px 20px 12px 20px;
}

/* inspiration css here */
.inspiration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.ins-heading {
    text-align: center;
    width: 852px;
}

.ins-heading h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.ins-heading p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;

}

.ins-video {
    width: 1140px;
    padding: 32px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    text-align: center;
}

/* End development css here */

/* Start Target css here */
.target {
    width: 1140px;
    margin-top: 150px;
}

.target-heading {
    width: 852px;
    margin: 0 auto;
}

.target-heading h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    text-align: center;
}

.target-heading p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}

.target-box-container {
    display: flex;
    gap: 24px;
}

.target-box {
    width: 364px;
    height: 299px;
    padding: 40px;
    background-color: #ff4f1e53;
    border-radius: 5px;
}

.target-box {
    width: 364px;
    height: 299px;
    padding: 40px;
    background-color: #ff4f1e53;
    border-radius: 5px;
}

.target-box1 {
    width: 364px;
    height: 299px;
    padding: 40px;
    background-color: #004de87f;
    border-radius: 5px;
}

.target-box2 {
    width: 364px;
    height: 299px;
    padding: 40px;
    background-color: #ffdd0056;
    border-radius: 5px;
}

/* .target-box img {} */

.target-box,
.target-box1,
.target-box2,
h2 {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}

.target-box,
.target-box1,
.target-box2,
p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    margin-top: 8px;
    opacity: 0.7;
}

.target-box,
.target-box1,
.target-box2,
a {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 24px;
    display: inline-block;
}

/* End Target css here */


/* Next target css */
.next-target {
    margin-top: 111px;
}

.next-container {
    width: 1140px;
    margin: 0 auto;
}

.next-target-headding {
    text-align: center;
}

.next-target-headding h1 {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;

}

.next-target-headding p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 48px;
}

.target-item-box {
    display: flex;
    gap: 24px;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 24px;
}

.target-item-box h3 {}

.target-item-box p {}

.target-item-box a {}

/* End Next target css */




/* Start support css */
.support {
    width: 1140px;
    height: 313px;
    padding: 64px 48px 64px 48px;
    margin-top: 49px;
    border-radius: 16px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.721), rgba(0, 0, 0, 0.26)), url('../assets/handshake.jpg') no-repeat center;
    background-size: cover;
}

.support h1 {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}

.support p {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 16px 0px;

}

.support form {
    margin-top: 24px;
}

.support form input[type="text"] {
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 19px 20px 19px 20px;
    width: 548px;
}

.support form input[type="submit"] {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 19px 17px 19px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}

/* End support css */


/* Footer css here */
#footer {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;

}

.foot-content {
    margin-left: 190px;

}

.foot-content h4 {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
}